<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
    <h1 class="display-4"><p>About Me</p></h1><br>
    <img src="assests/images/picture.jpg" width=221 height=247><br><br>
    <p>Welcome to my website! I am a professional MEAN stack web developer. Designing a website from backend to frontend has been a passion of mine from the day I started my journey at Centennial College. What I enjoy the most are programming challenges involving picking correct data structures and algorithms for the purpose of time and space efficiency.</p>
    <a href="assests/resume.pdf" class="link-dark">My Resume</a>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
