<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
  <h1 class="display-4"><p>Projects</p></h1><br>
  <ul>
    <li>In this individual project I created a web form to save user input. Also proper client-side script blocks invalid input.
    <br><a class="link-dark" href="http://studentweb.cencol.ca/pmoshfeg/COMP125Assignment4/">Web Registeration</a><br><br>

    <li>In this individual project I created the BugSmasher game. The spider moves randomly around its web. After each time the user catches the bug, it becomes a little faster.
    <br><a class="link-dark" href="http://studentweb.cencol.ca/pmoshfeg/COMP125Assignment5/">BugSmasher</a><br><br>

    <li>Another individual project that I created is a responsive Photo gallery that provides the user the opportunity to store images in a favorite area. Also, proper buttons are provided in case the user wants to see earlier images.
    <br><a class="link-dark" href="http://studentweb.cencol.ca/pmoshfeg/COMP125Assignment6/">Photo gallery</a><br><br>

  </ul>
  </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
